@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

:root {
  --h1-text-colour: #DECFB2;
  --h3-text-colour: #11354D;
  --text-colour: ;
  --title-font-family: 'montserrat', sans serif;
  --h1-title-font-size: ;
  --h3-title-font-size: ;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.app {
  width: 100%;
  margin: 0 auto;
}

body {
  font: 100% Roboto, sans-serif;
  background: url(./assets/backgroundOne.jpg) 50% 50% no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

@media (max-width: 768px) {

  header,
  footer {
      flex-direction: column;
  }

  .titleCont {
      max-width: 230px;
      margin: 0 auto;
      text-align: right;
      transform: translateY(-200px);
  }

  .h1TitleText {
      font-size: 3em;
  }

  .h2TitleText {
      font-size: 1.5em;
  }

  .frontendSection,
  .projektOmSection,
  .projectSection {
      flex-direction: column;
  }

  .logoGrid {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
  }

  .logoImage {
      max-width: 70px;
  }

  .leftArticle,
  .rightArticle {
      width: 100%;
  }

  .projectPic {
      padding: 0 2rem 2rem 2rem;
  }
}