@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

:root {
  --h1-text-colour: #DECFB2;
  --h3-text-colour: #11354D;
  --text-colour: ;
  --title-font-family: 'montserrat', sans serif;
  --h1-title-font-size: ;
  --h3-title-font-size: ;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.app {
  width: 100%;
  margin: 0 auto;
}

header {
  padding: 1rem;
  min-height: 40rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navCont {
  display: flex;
}

.titleCont {
  text-align: right;
}

main {
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.glassEffectDark {
  position: relative;
  padding: 20px;
  border-radius: 2px;
  background: rgba(10, 32, 55, 0.5);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.glassEffect {
  position: relative;
  padding: 20px;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  margin: .5rem;
}

.h1ContentTitle {
  align-self: flex-start;
  margin-bottom: 20px;
  font-family: var(--title-font-family);
  color: var(--h1-text-colour);
  font-size: 3em;
}

.h3ContentSubTitle {
  font-family: var(--title-font-family);
  color: var(--h3-text-colour);
}

.frontendSection {
  width: 100%;
  display: flex;
  flex-direction: row;
  opacity: 0;
  transform: translateY(100px);
  transition: opacity .5s ease, transform .5s ease;
}

.frontendSection.visible {
  opacity: 1;
  transform: translateX(0);
}

.frontendDesc,
.logoGrid {
  flex: 1;
  padding: 10px;
}

.logoGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;

  padding: 20px;
  margin: 10px auto;
  max-width: 98%;

  position: relative;
}

.logoGrid>div {
  display: flex;
  align-items: center;
  justify-content: center;
}


.logoImage {
  width: 90%;
  max-width: 150px;
  height: auto;
  object-fit: cover;
}

.projektOmSection {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 5rem;
}

.projectSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.projectSection,
.omSection {
  flex: 1;
  padding: 10px;
}

.leftArticle,
.rightArticle {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.rightArticle {
  padding-top: 1rem;
}

.projectPic {
  width: 100%;
}

.marginBottom {
  margin-bottom: 1rem;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  min-height: 50px;
  margin-top: 5rem;
}

footer a {
  background: none;
}

footer a:hover {
  background: none;
}

.socialamedierContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

.linkedinLogo {
  max-width: 200px;
  max-height: 100px;
  object-fit: contain;
  margin-right: .5rem;
  transition: transform 0.5s ease, box-shadow 0.3s ease;
}

footer a:hover .linkedinLogo {
  transform: scale(1.2);
}

.githubLogo {
  max-width: 100px;
  margin-left: .5rem;
  transition: transform 0.5s ease, box-shadow 0.3s ease;
}

footer a:hover .githubLogo {
  transform: scale(1.2);
}

.footerP {
  color: var(--h1-text-colour);
  font-family: var(--title-font-family);
  font-size: 2rem;
  padding-top: 1rem;
}

body {
  font: 100% Roboto, sans-serif;
  background: url(./assets/backgroundOne.jpg) 50% 50% no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

nav {
  width: 300px;
  background: #DECFB2;
  color: rgba(0, 0, 0, 0.87);
  -webkit-clip-path: circle(100px at 32px 24px);
  clip-path: circle(24px at 32px 24px);
  -webkit-transition: -webkit-clip-path 0.5625s, clip-path 0.375s;
  transition: -webkit-clip-path 0.5625s, clip-path 0.375s;
}

nav:hover {
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-duration: 0.75s;
  transition-duration: 0.75s;
  -webkit-clip-path: circle(390px at 150px 24px);
  clip-path: circle(390px at 150px 24px);
}

a {
  display: block;
  line-height: 50px;
  padding: 0 20px;
  color: inherit;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a:hover {
  background: #BBCCC6;
}

a:active {
  background: #84B0BB;
}

.navicon {
  padding: 23px 20px;
  cursor: pointer;
  -webkit-transform-origin: 32px 24px;
  -ms-transform-origin: 32px 24px;
  transform-origin: 32px 24px;
}

.navicon div {
  position: relative;
  width: 20px;
  height: 2px;
  background: #133853;
}

.navicon div:before,
.navicon div:after {
  display: block;
  content: "";
  width: 20px;
  height: 2px;
  background: #133853;
  position: absolute;
}

.navicon div:before {
  top: -7px;
}

.navicon div:after {
  top: 7px;
}

.h1TitleText {
  color: #DECFB2;
  font-family: montserrat;
  font-size: 5em;
  line-height: .8;
  padding-bottom: .2rem;
  position: relative;
  overflow: hidden;
}

.h1TitleText::after {
  content: "";
  display: block;
  width: 96%;
  height: 2px;
  background: #DECFB2;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.h1TitleText::before {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.2) 20%,
      rgba(255, 255, 255, 0.5) 60%,
      rgba(255, 255, 255, 0) 100%);
  transform: skewX(-20deg);
  transition: all 0.5s;
}

.h1TitleText:hover::before {
  animation: shimmer 1s forwards;
  opacity: 1;
}

.h2TitleText {
  color: #BBCCC6;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInUp 1s forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes shimmer {
  0% {
    left: -150%;
  }

  50% {
    left: 150%;
  }

  100% {
    left: -150%;
  }
}

@media (max-width: 768px) {

  .frontendSection,
  .projektOmSection {
    flex-direction: column;
  }

  .logoGrid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .leftArticle,
  .rightArticle {
    width: 100%;
  }
}