@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

:root {
  --h1-text-colour: #DECFB2;
  --h3-text-colour: #11354D;
  --text-colour: ;
  --title-font-family: 'montserrat', sans serif;
  --h1-title-font-size: ;
  --h3-title-font-size: ;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.app {
  width: 100%;
  margin: 0 auto;
}

body {
  font: 100% Roboto, sans-serif;
  background: url(./assets/backgroundOne.jpg) 50% 50% no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}